@model Pizza

@{
    ViewData["Title"] = $"Pizza {Model.Name}";
}

<h1 class="text-center py-4">Le nostra Pizza @Model.Name</h1>

<div class="card my-3 mx-auto" style="width: 25rem;">
    <img src="~/img/@Model.Image" class="card-img-top" style="height:15rem;">
    <div class="card-body">
        <h2 class="card-title">Pizza @Model.Name</h2>
        <p class="card-text">Descrizione: @Model.Description</p>
        <span>Prezzo: € @Model.Price</span>
    </div>
</div>